html{
  background-color: #F8FFFA;
}
body{
  margin: 0 auto;
  width: 90%;
}
img{
  height: 150px;
  position: relative;
  top:20px;
}
header{

  background-color: #62A6B2;
}
nav{
  float:right;
  display: inline-block;
  margin-right: 30px;
}
li{
  list-style: none;
  display: inline-block;
}
a{
  color:white;
}
.donkey{
  display: inline-block;
  /*font-family: 'Droid Sans', sans-serif;*/
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: white;
  padding: 0;
  margin: 0;
}
.create_survey_div{
  text-align: center;
}


.loginform ul{
  padding: 0;
  margin: 0;
}

.loginform li{
  dislplay: inline;
  float: left;
}







