<p>login</p>
<form action="/login" method= 'POST'>
  Name:
  <input type="text" name='user[username]'>
  Pasword:
  <input type="password" name = 'user[password]'>
  <input type="submit" value = 'login'>
</form>
<p>Singup</p>
<form action="/singup" method= 'POST'>
  Name:
  <input type="text" name='user[username]'>
  Pasword:
  <input type="password" name = 'user[password]'>
  <input type="submit" value = 'login'>
</form>
