<!-- <p>Login</p>
<form action="/login" method= 'POST'>
  Name:
  <input type="text" name='user[username]'>
  Password:
  <input type="password" name = 'user[password]'>
  <input type="submit" value = 'login'>
</form> -->


<section class="loginform cf"> 
<h4>Login</h4> 
<form name="login" action="/login" method="POST" accept-charset="utf-8">  
    <ul>  
        <li><label for="usermail">Email</label>  
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>  
        <li><label for="password">Password</label>  
        <input type="password" name="password" placeholder="password" required></li>  
        <li>  
        <input type="submit" value="Login"></li>  
    </ul>  
</form>  
</section> 


<section class="signupform cf"> 
<h4>Signup</h4> 
<form name="login" action="/signup" method="POST" accept-charset="utf-8">  
    <ul>  
        <li><label for="usermail">Email</label>  
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>  
        <li><label for="password">Password</label>  
        <input type="password" name="password" placeholder="password" required></li>  
        <li>  
        <input type="submit" value="Login"></li>  
    </ul>  
</form>  
</section> 



<!-- 
<p>Signup</p>
<form action="/signup" method= 'POST'>
  Name:
  <input type="text" name='user[username]'>
  Password:
  <input type="password" name = 'user[password]'>
  <input type="submit" value = 'login'>
</form>
 -->