<p>login</p>
<form action="/login" method= 'POST'>
  Name:
  <input type="text" name=''>
  Pasword:
  <input type="password" name = ''>
  <input type="submit" value = 'login'>
</form>
<p>singup</p>
<form action="/singup" method= 'POST'>
  Name:
  <input type="text" name=''>
  Pasword:
  <input type="password" name = ''>
  <input type="submit" value = 'login'>
</form>
