<div class="create_survey_div">
  <p class="welcome"><span>C</span>reate <span>S</span>urveys, <span>G</span>et <span>A</span>nswers</p>
  <div class = 'butt'>
    <a class = 'buttom_survay_home' href="/survey/new">create a survey now</a>
  </div>
</div>