<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Comment line above and uncomment line below if working offline -->
  <!-- <script type="js/jquery-1.11.1.min.js"></script> -->
  <script src="js/app.js"></script>

  <title>Simple Landing Page</title>
</head>

  <div class="wrapper">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
